<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" href="<?php echo base_url()?>/img/flowercat.png" type="image/png" sizes="16x16">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.flowers {
    float: left;
    margin: 5px;
    padding: 15px;
    width: 300px;
    height: 300px;
    border: 1px solid black;
} 


</style>
<link rel="stylesheet" href="css/style.css" />  
<link rel="stylesheet" href="css/orange.css" />
<!-- REVOLUTION BANNER CSS SETTINGS -->
<link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
<link rel="stylesheet" type="text/css" href="rs-plugin/css/revolution.css" media="screen" />
<link rel="stylesheet" href="style-switcher/styleSwitcher.css" media="screen" />
<link rel="stylesheet" href="css/jquery.bxslider.css">

<!--bootstrap for responsive-->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="http://code.jquery.com/mobile/git/jquery.mobile-git.css"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"> 
<title>Bloom Command - Smart Online Support</title>
</head>

<body>
<div class="container">

 <!-- style switcher start -->
       
<?php	   
       $this->load->helper('form');
	   /*
session_start();
$servername = "localhost";
$username = "whatabloom_ser1";
$password = "xgvdMN1t63";
$db="whatabloom_bcm";


// Create connection
$conn = mysqli_connect($servername, $username, $password, $db);

// Check connection
if ($conn->connect_error) {
    die("Connection failed: " . $conn->connect_error);
} 
	//echo "Connected successfully";
	
	//print_r($search);
	echo"<br>";
	//echo $se."<br>";
	//print_r($id);
	$sql = "SELECT * from products";
	$result = mysqli_query($conn, $sql);
	//print_r($result);
	if (mysqli_num_rows($result) > 0) {
		// output data of each row
		echo "<table>";
		 while($row = mysqli_fetch_assoc($result)) {
			$id=$row['product_id'];
          
          //  echo "<tr>"."Product Name:". $row['product_name']."-----------------"."Product No:".$id."</tr>"."<br>";
			
		}
		echo"</table>";
	} else {
		echo "<br>"."0 results";
	}

//mysqli_close($conn);*/
?>
    
         <center><a href="<?php echo base_url().'index.php/welcome/index' ?>">
                        <img src="<?php echo base_url()?>/img/logo.png" class="img-responsive" alt="logo"/>
                    </a></center>
					
        
              <center>  <br />
          <div style="border:#CCC 4px solid;border-radius:25px;padding-bottom:40px;text-align:left;">
          	 
           
                    <?php echo form_open('/search');?>
                    	
                  
                       <h1><center>Flower Catalogue</center></h1><hr />
                        <div class="form-group" align="center">
                            <label for = "productid"><h4><span class="text-color">* </span>Product Code:</h4></label>
                            <input type="text" class="form-control" id="productid" placeholder="Enter Product Code Here..." name="search" required autofocus="autofocus" style="width:45%;height:40px;"/>
                            <input type="hidden" id = "product_id" name = "product_id" value = "<?php echo $product_id;?>" >
                            <input type = "hidden" id = "db_id" name ="db_id" value = "<?php echo $db_id;?>">
                       </div>
                       <!--<input type="hidden" name="product_id" id="product_code" value="<?php //echo $row->product_id;?>"/>-->
                       <?php echo form_hidden('product_id', '');?>
                       <?php echo form_hidden('db_id', '');?>
                       <?php echo form_hidden('website_id', '');?>
                       
                        <center><button name="Search" type="submit" class="btn btn-primary"  style="font-size:14px;width:35%;height:40px;">Submit</button></center>

                   
                    <?php echo form_close();?>
             
           </div></center>
           <br /><br />
          
       
          <?php include_once('menu.php'); ?>
        
          <br /><br />
            
            <!--invisble banner
            
            
            <div class="row visible-lg" style="clear:both;">
            <section class="retailer" id="top">
        	<!--<div class="note-content">-->
               <!--<a href="#top" class="btn-scroll scrollPage "></a>
               
                <h3 class="row">We work with the world's best retailers and suppliers:</h3>
                
        	<!--</div>-->
         
		
		
		
		<!--
		<div id="makeMeScrollable">
					<img src="<?php echo base_url()?>/images/metro.jpg" alt="metro" width="171" height="60">
					<img src="<?php echo base_url()?>/images/costco.gif" alt="costco" width="168" height="60">
					<img src="<?php echo base_url()?>/images/HBC.jpg" alt="scrollerlogo3" width="156" height="60">
					<img src="<?php echo base_url()?>/images/staples.jpg" alt="staples" width="114" height="60">
					<img src="<?php echo base_url()?>/images/westjet-logo1.jpg" alt="westjet" width="172" height="60">
					<img src="<?php echo base_url()?>/images/whatabloom.png" alt="scrollerlogo_shop_nbc" width="156" height="60">
					<img src="<?php echo base_url()?>/images/1800flowers.jpg" alt="scrollerlogo_sears" width="156" height="60">
					<img src="<?php echo base_url()?>/images/memorialflowers.gif" alt="memorial flowers" width="156" height="60">
					<img src="<?php echo base_url()?>/images/whatabasket.png" alt="memorial flowers" width="156" height="60">
					<img src="<?php echo base_url()?>/images/metro.jpg" alt="metro" width="171" height="60">
					<img src="<?php echo base_url()?>/images/costco.gif" alt="costco" width="168" height="60">
					<img src="<?php echo base_url()?>/images/HBC.jpg" alt="scrollerlogo3" width="156" height="60">
					<img src="<?php echo base_url()?>/images/staples.jpg" alt="staples" width="114" height="60">
					<img src="<?php echo base_url()?>/images/westjet-logo1.jpg" alt="westjet" width="172" height="60">
					<img src="<?php echo base_url()?>/images/whatabloom.png" alt="scrollerlogo_shop_nbc" width="156" height="60">
					<img src="<?php echo base_url()?>/images/1800flowers.jpg" alt="scrollerlogo_sears" width="156" height="60">
					<img src="<?php echo base_url()?>/images/memorialflowers.gif" alt="memorial flowers" width="156" height="60">
					<img src="<?php echo base_url()?>/images/whatabasket.png" alt="memorial flowers" width="156" height="60"
					
				</div>
				
				<div class="gr gr-left">
				</div>
				<div class="gr gr-right">
				</div>
			
	
		
		
		</section>-->
        
        
  <script>
            /* <![CDATA[ */
            /* REVOLUTION SLIDER */
            jQuery(document).ready(function() {
                
                if (jQuery.fn.cssOriginal!==undefined){
                    // CHECK IF fn.css already extended
                    jQuery.fn.css = jQuery.fn.cssOriginal;
                }   
 
                jQuery('.fullwidthbanner').revolution(
                {    
                    delay:5000,                                                
                    startheight:420,                            
                    startwidth:940,
                            
                    hideThumbs:200,
                            
                    thumbWidth:100,                            
                    thumbHeight:50,
                    thumbAmount:5,
                            
                    navigationType:"none",               
                    navigationArrows:"verticalcentered",      
                    navigationStyle:"round",               
                                                        
                    navigationHAlign:"right",             
                    navigationVAlign:"top",                 
                    navigationHOffset:0,
                    navigationVOffset:20,
                            
                    soloArrowLeftHalign:"left",
                    soloArrowLeftValign:"center",
                    soloArrowLeftHOffset:20,
                    soloArrowLeftVOffset:0,
                            
                    soloArrowRightHalign:"right",
                    soloArrowRightValign:"center",
                    soloArrowRightHOffset:20,
                    soloArrowRightVOffset:0,
                    touchenabled:"on",                      
                    onHoverStop:"on",                        
                            
                    navOffsetHorizontal:0,
                    navOffsetVertical:20,
                            
                    hideCaptionAtLimit:0,
                    hideAllCaptionAtLilmit:0,
                    hideSliderAtLimit:0,
                            
                    stopAtSlide:-1,
                    stopAfterLoops:-1,
                            
                    shadow:1,
                    fullWidth: "on"                                       
                }); 
            });
            
            /* TWEETSCROLL */
            $('.tweets-list-container').tweetscroll({
                username: 'pixel_industry', 
                limit: 20, 
                replies: true, 
                position: 'append',
                animation: 'fade',
                visible_tweets: 2
            });
            /* ]]> */
        </script>
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="js/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="js/jquery.smoothdivscroll-1.3-min.js"></script> 
		<script src="js/jquery.mousewheel.min.js"> </script>
		<script src="js/kinetic.js"></script> 
<script src="js/jquery.bxslider.min.js"></script> 
<script src="js/plugins.js"></script> 
<script src="js/main.js"></script>
 <script  src="style-switcher/styleSwitcher.js"></script><!-- Style Switcher plugin -->
 
 
 </div>
</body>
</html>