<!DOCTYPE html>
<html>
    <head>
	
	
        <meta charset="UTF-8">
        <title>Bloom Command - OsSmart Online Support</title>
        <meta name="description" content="Multipurpose HTML5 Themplate"/>
        <meta name="author" content="CMG Media Group"/>
        <link rel="icon" href="<?php echo base_url()?>/img/flowercat.png" type="image/png" sizes="16x16">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
   		
							<script type="text/javascript">
					<!--
									if( /Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent) ) {
					window.location = "index-mobile.php";
				}
					
					
					
					//-->
					</script>
					
									<script language="javascript">
				<!--
				if ((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i))) {
				   location.replace("index-mobile.php");
				}
				-->
				</script>
                
                <script>
                       $(function() {
                       $( "#dialog" ).dialog();
                                  });
                </script>
        <!-- stylesheets -->
        <link rel="stylesheet" href="css/style.css" />  
        <link rel="stylesheet" href="css/orange.css" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700&amp;subset=latin,greek-ext,greek,vietnamese,latin-ext,cyrillic' rel='stylesheet' type='text/css'/>
        <link rel="stylesheet" href="pixons/style.css" />
        <link rel="stylesheet" href="css/prettyPhoto.css" media="screen" />
        <link rel="stylesheet" href="service-icons/style.css"/>
        <!-- REVOLUTION BANNER CSS SETTINGS -->
        <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="rs-plugin/css/revolution.css" media="screen" />
        <link rel="stylesheet" href="style-switcher/styleSwitcher.css" media="screen" />
		<link rel="stylesheet" href="css/jquery.bxslider.css">
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        
		<!--<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<script src="http://code.jquery.com/jquery.js"></script>
   		<script src="bootstrap/js/bootstrap.min.js"></script>
        <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">-->
		
        <!--dialog-->
        <link rel="stylesheet" href="">
		
        <link rel="stylesheet" href="/resources/demos/style.css">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
                <!--[if lt IE 9]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
        
        <!--[if IE 8]>
            <link rel="stylesheet" href="css/ie8.css" media="screen" />
        <![endif]-->
      
    </head>

    <body width="100%" style="background-image:url(img/bloom-earth-bg1.png);background-repeat:no-repeat; >
        <!-- style switcher start -->
       
	   
	   
	   

        <section id="header-wrapper" >
            <!-- #header start -->
            <header id="header" style="text-align:center;">

                <!-- #logo start -->
                <section id="logo" style="position:absolute; margin-top:-20px;margin-left:350px;">
                    <a href="#">
                        <img width="600" src="img/logo.png" alt="logo" style="align:center;" />
                    </a>
					
					
					
				<br /><br /><br /><br />
					
                </section><!-- #logo end -->

                
            </header><!-- #header end -->
			
			
			
        </section>
		
		
			
		
		
		
		
		
		
		
		<!-- #content-wrapper start -->
       
		
		<div style="align:center"> 
		
		    <section class="service-box" style="width:150px;height:150px; position:absolute;margin-top:200px;margin-left:400px;" content="width=device-width">
             
								<a href="flowerguide.php">
									<i><img src="img/flowercat.png" height = "50px" width="50px"></i>
									<h5>Flower Catalogue</h5>
									
								</a>
                             	
			</section>
           
          <!--<img src="img/flower.png" length ="70px" width="70px">-->
		
			
				
				
                            

              
			
				
				<section class="service-box" style="width:150px;position:absolute; margin-top:200px;margin-left:1350px;;">
									
									<a href="ordertracking.php">
									<i><img src = "img/ship.png" height = "50px" width="50px" background= "none"></i>

									<h5>Drop ship programme</h5>
									</a>
								</section>
				
				
				
				
				<section class="service-box" style="width:150px;position:absolute;margin-top:400px;margin-left:280px;height:170px;">
									<a href="aboutus.php">
									<i><img src = "img/about.png" height = "50px" width="50px" background= "none"></i>

									<h5>About Bloom Command</h5>
									</a>
								</section>
			
			
			
			
				<section class="service-box" style="position:absolute;margin-top:450px;margin-left:1450px;width:150px;height:170px;">
									<a href="partnering.php">
									<i><img src = "img/partnering.png" height = "50px" width="50px" background= "none"></i>

									<h5>Partnering with Bloom Command</h5>
									</a>
								</section>
			
			
			
			<section class="service-box" style="position:absolute;margin-top:650px;margin-left:400px;width:150px;">
									<a href="contactus.php">
									<i><img src = "img/contact.png" height = "50px" width="50px" background= "none"></i>

									<h5>Contact Us</h5>
									</a>
								</section>
		   
		   
		   
		   
		   
		   	
				<section class="service-box" style="position:absolute;margin-top:650px;margin-left:1350px;width:150px;">
									<a href="support.php">
									<i><img src="img/support.png" height = "50px" width="50px" background= "none"></i>

									<h5>Support</h5>
									</a>
								</section>
			
		
                        
                   
                        
                   </div>

                   
                <hr />

           
     
		
		
		
		<section class="retailer" id="top" style="position:absolute;margin-left:500px;margin-top:700px;">
			<a href="#top" class="btn-scroll scrollPage"></a>
			<h2>We work with the world's best retailers and suppliers:</h2>
			<div class="content">
		
		
		
		
		<div id="makeMeScrollable">
					<img src="images/metro.jpg" alt="metro" width="171" height="60">
					<img src="images/whatabloom.png" alt="scrollerlogo_shop_nbc" width="156" height="60">
					<img src="images/costco.gif" alt="costco" width="168" height="60">
					<img src="images/memorialflowers.gif" alt="memorial flowers" width="156" height="60">
					<img src="images/HBC.jpg" alt="scrollerlogo3" width="156" height="60">
					<img src="images/whatabasket.png" alt="memorial flowers" width="156" height="60">
					<img src="images/staples.jpg" alt="staples" width="114" height="60">
					<img src="images/1800flowers.jpg" alt="scrollerlogo_sears" width="156" height="60">
					<img src="images/westjet-logo1.jpg" alt="westjet" width="172" height="60">
					<img src="images/metro.jpg" alt="metro" width="171" height="60">
					<img src="images/whatabloom.png" alt="scrollerlogo_shop_nbc" width="156" height="60">
					<img src="images/costco.gif" alt="costco" width="168" height="60">
					<img src="images/memorialflowers.gif" alt="memorial flowers" width="156" height="60">
					<img src="images/HBC.jpg" alt="scrollerlogo3" width="156" height="60">
					<img src="images/whatabasket.png" alt="memorial flowers" width="156" height="60">
					<img src="images/staples.jpg" alt="staples" width="114" height="60">
					<img src="images/1800flowers.jpg" alt="scrollerlogo_sears" width="156" height="60">
					<img src="images/westjet-logo1.jpg" alt="westjet" width="172" height="60">
					
				
					
					
				</div>
				
				<div class="gr gr-left">
				</div>
				<div class="gr gr-right">
				</div>
			
		</div>
		
		
		</section>
        

        <!-- #footer-wrapper start -->
        <div id="footer-wrapper" class="clearfix" style="display:none;">

 

        </div><!-- #footer-wrapper end -->



        <!-- scripts -->
        <script  src="js/jquery-1.8.3.js"></script> <!-- jQuery library -->  
        <script  src="js/jquery.placeholder.min.js"></script><!-- jQuery placeholder fix for old browsers -->
        <script  src="js/socialstream.jquery.js"></script> <!-- Social Networks Feeds -->
        <script  src="js/jquery.tweetscroll.js"></script> <!-- jQuery tweetscroll plugin -->
        <script  src="js/jquery.prettyPhoto.js"></script> <!-- prettyPhoto lightbox -->
        <script  src="js/portfolio.js"></script> <!-- portfolio custom options -->
        <!-- jQuery REVOLUTION Slider  -->
        <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
        <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <script  src="js/include.js"></script> <!-- jQuery custom options -->
        <script  src="style-switcher/styleSwitcher.js"></script><!-- Style Switcher plugin -->

        <script>
            /* <![CDATA[ */
            /* REVOLUTION SLIDER */
            jQuery(document).ready(function() {
                
                if (jQuery.fn.cssOriginal!==undefined){
                    // CHECK IF fn.css already extended
                    jQuery.fn.css = jQuery.fn.cssOriginal;
                }   
 
                jQuery('.fullwidthbanner').revolution(
                {    
                    delay:5000,                                                
                    startheight:420,                            
                    startwidth:940,
                            
                    hideThumbs:200,
                            
                    thumbWidth:100,                            
                    thumbHeight:50,
                    thumbAmount:5,
                            
                    navigationType:"none",               
                    navigationArrows:"verticalcentered",      
                    navigationStyle:"round",               
                                                        
                    navigationHAlign:"right",             
                    navigationVAlign:"top",                 
                    navigationHOffset:0,
                    navigationVOffset:20,
                            
                    soloArrowLeftHalign:"left",
                    soloArrowLeftValign:"center",
                    soloArrowLeftHOffset:20,
                    soloArrowLeftVOffset:0,
                            
                    soloArrowRightHalign:"right",
                    soloArrowRightValign:"center",
                    soloArrowRightHOffset:20,
                    soloArrowRightVOffset:0,
                    touchenabled:"on",                      
                    onHoverStop:"on",                        
                            
                    navOffsetHorizontal:0,
                    navOffsetVertical:20,
                            
                    hideCaptionAtLimit:0,
                    hideAllCaptionAtLilmit:0,
                    hideSliderAtLimit:0,
                            
                    stopAtSlide:-1,
                    stopAfterLoops:-1,
                            
                    shadow:1,
                    fullWidth: "on"                                       
                }); 
            });
            
            /* TWEETSCROLL */
            $('.tweets-list-container').tweetscroll({
                username: 'pixel_industry', 
                limit: 20, 
                replies: true, 
                position: 'append',
                animation: 'fade',
                visible_tweets: 2
            });
            /* ]]> */
        </script>
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="js/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="js/jquery.smoothdivscroll-1.3-min.js"></script> 
		<script src="js/jquery.mousewheel.min.js"> </script>
		<script src="js/kinetic.js"></script> 
<script src="js/jquery.bxslider.min.js"></script> 
<script src="js/plugins.js"></script> 
<script src="js/main.js"></script>
    </body>
</html>