body {font:"Segoe UI"; color:#fff; width:100%; height:100%; 
 	margin: 0px auto;
	padding: 0;
	height:auto; margin:0px auto; background-image:url(../images/Untitled-FJG1.png); background-attachment:fixed; background-size:cover; font-family:"Segoe UI Symbol";color:#000;
 }




#data2{
	width: 300px;
	float: left;
	position: absolute;
	top: 442px;
	margin-left:300px;
	margin-top:-215px;	
}
#data3{
	width: 300px;
	float: left;
	position: absolute;
	top: 442px;
	margin-left:300px;
	margin-top:180px;	
}
#data1{width:330px; float:right; position:absolute; top:460px; }
 #background 
{
	width: 1024px;
	height: auto;
	clear: both;
	margin: 0px auto;
	font-weight: bold;
	color: #0066FF;
		} 
	
	#loginform1
{
	width: 700px;
	height: 450px;
	font-weight: bold;
	color: #0066FF;
	
	} 
#header1
{ 
	 width: 100%;
	 height: 150px;
	 margin: 0px auto;
	 background-image:url(../images/BusinessBack.png);
	 background-repeat:repeat;
	 float:left;
	 } 
#h1
{ 
	 width: 1024px;
	 height: 150px;
	 margin: 0px auto;
	 padding-top:50px;
	 
	 }
	 
#h
{ 
	 width:1024px;
	 height: 100%;
	 margin: 0px auto;
	 padding-left:100px;text-align:center;	
	 }
#h2
{ 
	 width:460px;
	 height: auto;
	 margin: 0px auto;
	 float:left;
	text-align:center;
	 }
#h21
{ 
	 width:433px;
	 height: 100%;
	 margin: 0px auto;
	
	 }		
 	 
#login{float:right;}
#login1{clear:both; float:right; margin-top:30px;}

#tree{margin-left:100px; background:none;}
#loginform{height:550px;}
#loginform2{height:550px;}
#loginform2{height:750px;}
#footer1
{ 
	 width: 100%;
	 height:auto;
	 margin: 0px auto;
	 background-image:url(../images/ContactBack123.png);
	 background-repeat:repeat;
	 text-align:center;
	 float:left;	
	 }
#main{width:1024px; height:auto;font-size:larger; color:#000;margin: 0px auto;}
		 
#main-left{width:400px; height:auto; color:#000;float:left; }
	#logo-main-left{width:300px; height:auto; color:#fff;float:left; background-image:url(../images/BusinessBack.png); background-repeat:repeat; font-size:larger; -webkit-border-radius: 0px 0px 63px 63px;-moz-border-radius: 0px 0px 63px 63px;border-radius: 0px 0px 63px 63px; -webkit-box-shadow: #B8B8B8 25px 25px 25px;-moz-box-shadow: #B8B8B8 25px 25px 25px; box-shadow: #B8B8B8 25px 25px 25px;}
	#business-main-left{width:400px; height:auto; color:#000;float:left;}
	#web-main-left{width:400px; height:auto; color:#000;float:left;}
	#bro-main-left{width:400px; height:auto; color:#000;float:left;}
	
#main-right{width:600px; height:auto;margin: 0px auto; float:right;}
	#logo-main-right{width:700px; height:auto;margin: 0px auto; float:right;}
	#business-main-right{width:600px; height:auto;margin: 0px auto; float:right;}
	#lweb-main-right{width:600px; height:auto;margin: 0px auto; float:right;}
	#bro-main-right{width:600px; height:auto;margin: 0px auto; float:right;}	 	 

.main-page #main-right{ background:url(../images/LogoBack.png) no-repeat scroll 100% 0; height:530px; width:550px; position:relative;} 

.signup-link{ position:absolute; top:352px; left: 295px;}

.login-link{ position:absolute; top:7px; left: 45px;}

.review-link{ position:absolute; top:305px; left: 158px;}

.project-link{ position:absolute; top:131px; left: 38px;}

.design-link{ position:absolute; top:224px; left: 79px;}

.about-link{ position:absolute; top:317px; left: 415px;}

#Background 
{ 
	 left: -415px; 
	 top: -10px; 
	 position: absolute; 
	 width: 1900px;
	 height: 882px;
	 z-index:1;
margin: 0px auto;
} 

#Design 
{
	left: 1227px;
	top: 769px;
	position: absolute;
	width: 116px;
	height: 144px;
	z-index: 4;
} 

 #AboutUs 
{
	left: 806px;
	top: 863px;
	position: absolute;
	width: 131px;
	height: 120px;
	z-index: 5;
} 


 #Projects 
{ 
	 left: 656px; 
	 top: 339px; 
	 position: absolute; 
	 width: 124px;
	 height: 131px;
	 z-index:7;
} 

 #LogIn 
{
	left: 660px;
	top: 520px;
	position: absolute;
	width: 127px;
	height: 126px;
	z-index: 8;
} 

 #SignUp 
{
	left: 681px;
	top: 699px;
	position: absolute;
	width: 129px;
	height: 119px;
	z-index: 9;
} 

 #Reviews 
{
	left: 1024px;
	top: 891px;
	position: absolute;
	width: 148px;
	height: 135px;
	z-index: 10;
} 

 #LogoBack 
{ 
	 left: 561px; 
	 top: -3px; 

} 

#WebsiteTemplates 
{ 
	 left: 538px; 
	 top: 320px; 
	 position: absolute; 
	 width: 83px;
	 height: 41px;
	 z-index:12;
} 

 #Brochure 
{ 
	 left: 694px; 
	 top: 384px; 
	 position: absolute; 
	 width: 79px;
	 height: 17px;
	 z-index:13;
} 

 #BusinessCard 
{ 
	 left: 448px; 
	 top: 207px; 
	 position: absolute; 
	 width: 82px;
	 height: 44px;
	 z-index:14;
} 
 #Logo 
{ 
	 left: 466px; 
	 top: 74px; 
	 position: absolute; 
	 width: 47px;
	 height: 20px;
	 z-index:17;
} 

pre{ font-family:"Segoe UI Symbol"; font-size:x-large;}

#container{ width:1024x; height:200px; margin:0 auto; font-family:"Segoe UI Symbol"}
#container1{ width:9024px; margin:0 auto; font-family:"Segoe UI Symbol"}
#field{ text-align:left; border-radius: 15px;}
#field label{ width:230px; display:inline-block;}
#field2{text-align:left; color:#000;}

.inputbox{ width:150px; border:1px inset #003333; background:#FFFFFF; border-radius: 5px; }
.inputboxtextlog{width:120px; border: none; border-radius: 5px;}

.inputbox2{ width:80px; background:#999999; bborder-color:#333333; border:thin;border-radius: 5px; }
.inputboxlog{ width:60px; background:#FFF; bborder-color:#333333; border:thin; border-radius: 5px;}
.Red { color:#FF0000;}
.log{background-position:left;}
#text{padding: 0 0 0 250px;}

content 
#header{background-image:url(../images/christmas_surprise-1920x1080.jpg); width:1500px;height:100px;}
#content{background:none; width:1500px ; height:800px; ;}
	#content-left{background-image:url(../images/New%20Web3.png); width:400px; height:800px; float:left;font-size:larger; color:#000;}
	
	#content-right{background-image:url(../images/23Recovered.jpg); background-position:center; width:1050px; height:800px; float:left; padding: 10px 0 0 25px;}



body:after {
  content: url(images/close.png) url(images/loading.gif) url(images/prev.png) url(images/next.png);
  display: none;
}


.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}


.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.lightbox a img {
  border: none;
}


.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}


.lb-container {
  padding: 4px;
}


.lb-loader {
  position: absolute;
  top: 43%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}


.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(images/loading.gif) no-repeat;
}


.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}


.lb-container > .nav {
  left: 0;
}


.lb-nav a {
  outline: none;
}


.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  cursor: pointer;

  display: block;
}


.lb-prev {
  left: 0;
  float: left;
}

.lb-prev:hover {
  background: url(images/prev.png) left 48% no-repeat;
}


.lb-next {
  right: 0;
  float: right;
}

.lb-next:hover {
  background: url(images/next.png) right 48% no-repeat;
}


.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}


.lb-data {
  padding: 0 4px;
  color: #bbbbbb;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}


 Extra

.row {
  *zoom: 1;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.logo .version {
  color: #fdf485;
}


.author {
  margin-top: -9px;
  padding-left: 23px;
  line-height: 1.2em;
}


.examples-section {
  text-align: center;
}


.image-row {
  *zoom: 1;
  margin-bottom: 20px;
  
}

.image-row:after {
  content: "";
  display: table;
  clear: both;
}


.example-image-link {
  display: inline-block;
  margin: 0 10px 20px 10px;
  line-height: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 4px solid #5e5e5e;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.example-image-link:hover {
  border: 4px solid #00bfa8;
}


.example-image {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

  .lead {
    font-size: 16px;
  }


  .section {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

}


 Login Form 


/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000;}
#colorbox{outline:0;}
    #cboxTopLeft{width:14px; height:14px; background:url(images/controls.png) no-repeat 0 0;}
    #cboxTopCenter{height:14px; background:url(images/border.png) repeat-x top left;}
    #cboxTopRight{width:14px; height:14px; background:url(images/controls.png) no-repeat -36px 0;}
    #cboxBottomLeft{width:14px; height:43px; background:url(images/controls.png) no-repeat 0 -32px;}
    #cboxBottomCenter{height:43px; background:url(images/border.png) repeat-x bottom left;}
    #cboxBottomRight{width:14px; height:43px; background:url(images/controls.png) no-repeat -36px -32px;}
    #cboxMiddleLeft{width:14px; background:url(images/controls.png) repeat-y -175px 0;}
    #cboxMiddleRight{width:14px; background:url(images/controls.png) repeat-y -211px 0;}
    #cboxContent{background:#fff; overflow:visible;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:5px;}
        #cboxLoadingOverlay{background:url(images/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
        #cboxTitle{position:absolute; bottom:-25px; left:0; text-align:center; width:100%; font-weight:bold; color:#7C7C7C;}
        #cboxCurrent{position:absolute; bottom:-25px; left:58px; font-weight:bold; color:#7C7C7C;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible;  position:absolute; bottom:-29px; background:url(images/controls.png) no-repeat 0px 0px; width:23px; height:23px; text-indent:-9999px;}
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxPrevious{left:0px; background-position: -51px -25px;}
        #cboxPrevious:hover{background-position:-51px 0px;}
        #cboxNext{left:27px; background-position:-75px -25px;}
        #cboxNext:hover{background-position:-75px 0px;}
        #cboxClose{right:0; background-position:-100px -25px;}
        #cboxClose:hover{background-position:-100px 0px;}

        .cboxSlideshow_on #cboxSlideshow{background-position:-125px 0px; right:27px;}
        .cboxSlideshow_on #cboxSlideshow:hover{background-position:-150px 0px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-150px -25px; right:27px;}
        .cboxSlideshow_off #cboxSlideshow:hover{background-position:-125px 0px;}



 Animation Menu 
.circle {
    background: rgb(255,255,255);
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    width: 15em; 
    height: 15em;
    overflow: hidden;
    transform: translateZ(0);
}
 
.circle h1 {
    color: rgba(189, 185, 199,0);
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 1.6em;
    line-height: 8.2em;
    text-align: center;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    transition: color 0.8s ease-in-out;
}
 
.circle:before,
.circle:after {
    border-radius: 100%;
    content:"";
    position: absolute;
    top: 0; 
    left: 0;
    width: inherit; 
    height: inherit;            
    box-shadow: inset 10.6em 0 0 rgba(30, 140, 209, 0.2), 
                inset 0 10.6em 0 rgba(30, 140, 209, 0.2), 
                inset -10.6em 0 0 rgba(30, 140, 209, 0.2), 
                inset 0 -10.6em 0 rgba(30, 140, 209, 0.2);
    transition: box-shadow 0.75s;
}
 
/* We rotate the :after pseudo-element to get the edge from the corner, we could also just do that with box-shadows. */
 
.circle:after  {
    transform: rotate(45deg);
}
 
/* There is no problem using "pseudo-class + pseudo-element" :) */
 
.circle:hover:before,
.circle:hover:after  {
    box-shadow: inset 0.86em 0 0 rgba(255, 0, 0, 0.5), 
                inset 0 0.86em 0 rgba(252, 150, 0, 0.5), 
                inset -0.86em 0 0 rgba(0, 255, 0, 0.5), 
                inset 0 -0.86em 0 rgba(0, 150, 255, 0.5);
}
 
.circle:hover > h1  {
    color: rgba(185, 185, 185,1);
}
